<h3>Create new:</h3>

<%= link_to "Estimate", new_estimate_path, { class: "button button--primary" } %>
<%= link_to "Invoice", new_invoice_path, { class: "button button--primary" } %>
<%= link_to "Receipt", new_receipt_path, { class: "button button--primary" } %>