<h1>Accounting</h1>

<%= render 'summary' %>
<!-- current status: uninvoiced hours, unpaid invoiced hours -->
<%= render 'emit_statement' %>
<!-- emit statement: -->
    <!-- create estimate btn link_to create_estimate-->
    <!-- create invoice btn link_to create_invoice -->
    <!-- create receipt btn link_to create_receipt -->
<!-- view statements link_to statements_list -->
<!-- business expenses btn link_to expenses -->