<%= tag.h1 "Editing estimate" %>

<%= render "form", estimate: @estimate %>

<br>

<div>
  <%= link_to "Show this estimate", @estimate %> |
  <%= link_to "Back to estimates", estimates_path %>
</div>
