/* Project-specific global configs */

@import "variables";
@import "../mixins/media";

content {
  margin: 0 var(--space-m);
  padding: var(--space-xs) var(--space-m);
  gap: var(--space-m);
  display: flex;
  flex-direction: column;
  background: scale-color($color-background, $lightness: 10%);

  @include media(md) {
    padding: var(--space-l) 15%;
    margin: 0 15%;
  }
}

select {
  width: 100%;
  padding: 0.25rem 1rem;
  background: $color-primary-darkest;
  color: $color-white;
  border-color: $color-primary;
  border-style: solid;
  
}

::selection {
  color: $color-secondary-lightest;
  background: $color-primary-darkest;
}

a {
    color: $color-primary-darkest;
    
  &:hover,
  &:focus,
  &:active {
    color: $color-primary-alt-dark;
  }
}