
@import "../mixins/media";
@import "../config/variables";

/* page header */

header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xxs);
  justify-content: space-around;
  padding: var(--space-l);
  border-bottom: 4px solid $color-primary-darkest;
  background: linear-gradient($color-black, $color-primary-darkest);

  .button {
    flex: 1;
  }

  @include media(lg) {
    margin-bottom: var(--space-xl);
  }
}