
@import "../mixins/media";
@import "../config/variables";

/* page header */

header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xxs);
  justify-content: space-around;
  padding: var(--size-l);
  border-bottom: 4px solid var(--color-primary-darkest);
  background: linear-gradient(var(--color-black), var(--color-primary-darkest));

  .button {
    flex: 1;
  }

  @include media(lg) {
    margin-bottom: var(--size-xl);
  }
}