@import "../config/variables";

/* self-contained part of a page, that may come with its own header, data, form, actions, etc. */

section {
    margin: var(--space-m);
    padding: var(---space-xs);
    border: var(--border-thick-dark);

    /* section header */
    .header {
        margin-bottom: var(--space-l);
    }

    /* section body */
    .body {

    }
}