<h1>Tableau de bord</h1>

<!-- Projets actifs -->
    <!-- project.name, project.client.name, heures non facturées, $ attendu -->

<!-- Deadlines -->
    <!-- project.name, event.name, event.start_time/deadline -->

<!-- Widget d'entrée de temps -->
    <!-- 
        Project -> Select project.name
        Date    -> Date picker
        Start   -> Time
        End     -> Time
        Minutes -> Int readonly
        $       -> Decimal readonly
        Task    -> Select task.pk
        Notes   -> Textarea
        +Submit Btn
        +Clear Btn
    -->