<div id="<%= dom_id shift %>">
  <p>
    <strong>Minutes:</strong>
    <%= shift.minutes %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= shift.notes %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= shift.task_id %>
  </p>

</div>
