<div id="<%= dom_id client_contact %>">
  <p>
    <strong>Contact:</strong>
    <%= client_contact.contact_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= client_contact.client_id %>
  </p>

</div>
