<p style="color: green"><%= notice %></p>

<h1>Client contacts</h1>

<div id="client_contacts">
  <% @client_contacts.each do |client_contact| %>
    <%= render client_contact %>
    <p>
      <%= link_to "Show this client contact", client_contact %>
    </p>
  <% end %>
</div>

<%= link_to "New client contact", new_client_contact_path %>
