<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <select name="project_id">
    <% @projects.each do |project| %>
      <%= tag.option label: project.label, value: project.id %>
    <% end %>
  </select>
</div>

<%= link_to "New project", new_project_path, { class: "btn btn--primary"} %>
