<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= payment.client_id %>
  </p>

</div>
