

@import "../config/variables";

.button {
  /* Common button attributes */ 
  display: inline-block;
  padding: var(--size-xxs) var(--size-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background: linear-gradient($color-primary-darkest 75%, $color-primary-alt-darkest);
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  text-align: center;
  color: $color-white;

  a {
    color: $color-white;
  }

  a:focus,
  a:active,
  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: $color-white;
    filter: saturate(1.4) brightness(115%);
  }
  a:hover {
    color: $color-secondary;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  /* button--secondary, call-to-action */
  &--secondary {
    color: $color-white;
    background: linear-gradient($color-secondary-dark 75%, $color-secondary-alt-dark), $color-secondary-alt;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
      filter: saturate(1.2) brightness(110%);
    }
  }

  /* button--light, cancel */
  &--light {
    color: $color-dark;
    background: $color-light;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      $background: $color-primary-lightest;
    }
  }

  /* button--dark */
  &--dark {
    color: $color-white;
    border-color: $color-dark;
    background-color: $color-dark;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
    }
  }
}