

@import "../config/variables";

.button {
  /* Common button attributes */ 
  display: inline-block;
  padding: var(--size-xxs) var(--size-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  background: linear-gradient(var(--color-primary-darkest) 75%, var(--color-primary-alt-darkest));
  border: solid 2px transparent;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
  text-align: center;

  a {
    color: var(--color-white);
  }

  a:focus,
  a:active,
  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: var(--color-white);
    filter: saturate(1.4) brightness(115%);
  }
  a:hover {
    color: var(--color-secondary);
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  /* button--secondary, call-to-action */
  &--secondary {
    color: var(--color-white);
    background: linear-gradient(var(--color-secondary-dark) 75%, var(--color-secondary-alt-dark), var(--color-secondary-alt));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  /* button--light, cancel */
  &--light {
    color: var(--color-dark);
    background: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      $background: var(--color-primary-lightest);
    }
  }

  /* button--dark */
  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }
}