@import "../config/variables";

/* a data element contains bits of data, usually in a `label => value` style */
.data {
    border: solid 2px $color_primary_darker;
    width: 100%;
    font-size: var(--font-size-l);
    margin: var(--size-m);
}

.data-row {
    display: flex;
    padding: var(--size-xxxs);
}

.data-row:nth-child(2n) {
    background: $color-primary-lighter;
}

.data-panel td,
.data-panel th {
    padding: var(--size-xs);
    border: solid 1px $color_primary_dark;
}

.data-label,
.data-value {
    flex: 1 0 1px;
}

.data-label {
    font-weight: 800;
}

.data-value {
    text-align: right;
    margin-right: var(--size-m);
}