
@import "../config/variables";
@import "../mixins/media";
@import "btn";

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--space-xs);


  @include media(md) {
    padding: var(--space-xxxl);
    border-right: 2px solid $color-primary-dark;
    border-left: 2px solid $color-primary-dark;
  }

  input[type=submit] {
    @extend .btn--primary;
    margin-top: var(--space-l);
    cursor: pointer;
    padding: var(--space-xs);
  }

  div {
    input, textarea, select {
      width: 100%;
      padding-left: var(--space-xxs);
    }
  }

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px $color-glint;
    }

    &--invalid {
      border-color: $color-primary;
    }

  }
}