
@import "../config/variables";
@import "../mixins/media";
@import "button";

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--size-xs);


  @include media(md) {
    padding: var(--size-xxxl);
    border-right: 2px solid var(--color-primary-dark);
    border-left: 2px solid var(--color-primary-dark);
  }

  input[type=submit] {
    @extend .button;
    margin-top: var(--size-l);
    cursor: pointer;
    padding: var(--size-xs);
  }

  div {
    input, textarea, select {
      width: 100%;
      padding-left: var(--size-xxs);
    }

    input[type=checkbox] {
      width: initial;
      margin-left: var(--size-l);
      height: 1rem;
      width: 1rem;
    }
  }

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--size-xxs) var(--size-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }

  }
}

/* for now here bc list.scss doesn't work with $variables? */
.list {

  border-spacing: 0;
  width: 100%;

  td, th {
    border: 1px solid var(--color-border-secondary);
    padding: var(--size-m);
  }

  th {
    background-color: var(--color-primary-darkest);
    color: var(--color-white);
    border-color: var(--color-primary-dark);
  }

  td {
    * {
      display: inline-block;
      width: 100%;
    }
  }
}