@import "../config/variables";

.icon {

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: calc(2 * var(--size-xl));
    height: calc(2 * var(--size-xl));
    margin: var(--size-xxs);

    /* icon buttons */
    svg {
        width: var(--size-l);
        path {
            fill: $color-primary-lightest;
        }
    }
}