<p style="color: green"><%= notice %></p>

<h1>Expenses</h1>

<%= render partial: "expenses/list", locals: { expenses: @expenses } %>
<%= tag.div id: "new-expenses" %>

<%= link_to t('actions.new', thing: t('models.expense.model_name')), new_expense_path, class: "button", data: { turbo_stream: true } %>
